<div id="box">
使い方の説明
  物件検索をすることができます。
  <div id="images">
  <img src="/calender.png" alt="海の写真"  width="300" height="200">
  </div>
   <div id="images">
  <img src="/calender.png" alt="海の写真"  width="300" height="200">
  </div>
</div>