  
  <section class="background-radial-gradient overflow-hidden">
  <style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 70%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 70%);
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -100px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
        opacity: 0.3;

    }
 

  </style>

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">

    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-7 mb-6 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-6 fw-bold ls-tight" style="color: navy">
          Kiyora <br />
        </h1>
        <h4>
         <span style="color: hsl(218, 81%, 75%)">About</span>
        </h4>
        <p class="mb-4 opacity-70">
            このアプリは建築設備業に特化した業務システムアプリです。<br>
            検索機能の充実、伝票作成から請求書発行まで<br>
            トータルに業務をサポート。<br>
            緊急時にも対応できる、アプリ環境を提供致します。<br>
      
        <div class="col-5 mb-5 mb-lg-0 position-relative">
        <%= link_to "ログイン",new_user_session_path, class: "col btn btn btn-cool-blues btn-rounded btn-sm" %>
          <%= link_to "アプリサンプルデモ", "https://demo220615.s3.ap-northeast-1.amazonaws.com/demo.mp4 ", data: { confirm: "デモへ移動します" } , class: "col btn btn btn-cool-blues btn-rounded btn-sm" %>
        </div>
     
        </p>
        </div>
      <div class="col-lg-5 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
      </div>
  
    </div>
  </div>
   

</section>
<!-- Section: Design Block -->
