@charset "UTF-8";
.test_box {
  font-size: 18px; /* 文字サイズ指定 */
  margin: 20px; /* 空白指定 */
}

.font_test {
  font-family: serif; /* フォントの種類指定 */
}

.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  background: white;
}