.btn-dark-blue {
  background: #7474BF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #348AC7, #7474BF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 3px solid #eee;
  font-size: small;
}

.btn-funky-moon {
  background: #A770EF; /* fallback for old browsers */
  background: -webkit-linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(145deg, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 3px solid #eee;
  font-size: small;
}

.btn-cool-blues {
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 3px solid #eee;
}

.btn-rounded {
  border-radius: 35px;
}

.btn-fab {
  height: 40px;
  width: 43px;
  border-radius: 50%;
  font-size: 1px;
  position: middle;
}

.p-3 {
  padding: 1rem !important;
}

.mb-2, .my-2 {
  margin-bottom: 1 !important;
  margin-top: 2 !important;
}